# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Gunicorn
*.pid
*.sock

# Migrations cache
**/__pycache__/

# Backup
*.bak
*.old
*.zip
